doctype html
html
    head
        title= Hello
        //- link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        //- link(rel='stylesheet', href='/stylesheets/icomoon.css')
        //- link(rel='stylesheet', href='/stylesheets/style.css')
        //- link(rel='icon', href='/images/blue_selerity_logo.png')
    body
        p.hello.pull-left Hello World
        //- block content
        //- script(src='/javascripts/libs/jquery-3.2.1.min.js')
        //- script(src='/javascripts/libs/popper.min.js')
        //- script(src='/javascripts/libs/bootstrap.min.js')
        //- script(src='/javascripts/src/data.json')
        //- script(src='/javascripts/src/app.js')
